
.background-div {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    /*堆叠*/
    z-index: 99;
}

/*登录*/
.login-page {
    position: fixed;
    height: 469px;
    width: 440px;
    border: 1px solid red;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    display: none;
    /*堆叠*/
    z-index: 101;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}


.call-tag {
    border-style: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    /*position: relative;*/
    /*right: -160px;*/
    /*top: 22px;*/
    cursor: pointer;
}

/*注册*/
.registered {
    position: fixed;
    height: 469px;
    width: 440px;
    border: 1px solid red;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    display: none;
    /*堆叠*/
    z-index: 101;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.call-tag-exit {
    border-style: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    /*position: relative;*/
    /*right: -160px;*/
    /*top: 22px;*/
    cursor: pointer;
}