<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flask发送文件实现</title>
</head>
<body>
    <h3>flask实现文件上传</h3>
    <form action="/file/" enctype="multipart/form-data" method="post">
        <p>文件:<input type="file" value="" name="file_test"></p>
        <input type="submit" value="提交">
    </form>
    <hr>
    <h3>用户登录</h3>
    <form action="/login/" enctype="multipart/form-data" method="post">
        <p>用户名:<input type="text" name="user" value=""></p>
        <p>密码:<input type="password" name="pwd" value=""></p>
        <input type="submit" name="" value="提交">
    </form>
</body>
</html>