<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>在jquery中Ajax的引用</title>
    <script src="../static/js/jquery-3.6.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            $("input[type='submit']").click(function (){
               var data = {
                   "name":$("#name").val(),
                   "pwd":$("#pwd").val()
               };
               // console.log(typeof(data))
               data = JSON.stringify(data);
               // console.log(typeof(data))

               $.ajax({
                   // 规定请求的类型（GET 或 POST）
                   type:'post',

                   // 规定发送请求的 URL。默认是当前页面
                   url:"/string2/",

                   // 布尔值，表示请求是否异步处理。默认是 true
                   async:true,

                   // 预期的服务器响应的数据类型
                   dataType:"json",

                   // 发送数据到服务器时所使用的内容类型
                   // contentType:"application/x-www-form-urlencoded",
                   // data:'name=' + name + '&' + 'pwd=' + pwd,

                   contentType:"application/json;charset=utf-8",
                   data:data,

                   // 布尔值，表示浏览器是否缓存被请求页面。默认是true
                   cache: false,

                   // 布尔值，规定通过请求发送的数据是否转换为查询字符串。默认是true
                   processData:true,

                   // 发送请求前运行的函数。
                   // beforeSend:beforeSend,

                   // 设置本地的请求超时时
                   timeout:100,

                   content:this,

                   // 当请求成功时运行的函数
                   success:function(result, status, xhr){
                       console.log(result['msg']);
                       console.log(result.msg_code);
                       console.log(typeof(result));
                       console.log(status);
                       console.log(xhr);
                       console.log(this);
                       console.log(this.data)
                   },

                   // 果请求失败要运行的函数
                   error:function (xhr,status,error) {
                       alert("请求错误");
                       // console.log(xhr)
                       console.log(status);
                       console.log(error)
                   },

                   // 请求完成时运行的函数（在请求成功或失败之后均调用，即在 success 和 error 函数之后
                   complete:function (xhr,status){
                       // console.log(status)
                       // console.log(xhr)
                   },
                   beforeSend:function(){
                        console.log("请求发送前执行,可以进行业务逻辑的判断,如果返回true就继续执行!!!!");
                       return true
                    }
               });
            });

            $.get(
                '/string2/',
                {'name':'jack', 'pwd':123456},
                function (result, status, xrl) {
                    console.log(result)
                }
            );

            $.post(
                '/string2/',
                {'name':'jack', 'pwd':123456},
                function (result, status, xrl) {
                    console.log(result)
                }
            )
        });
        function beforeSend(){
            alert("点内容加载中......")
        }

    </script>
</head>
    <body>
        <form id="say">
            用户名：<input type="text" id="name">
            <br>
            密码：<input type="text" id="pwd">
        </form>
        <br>
        <input type="submit" value="提交">
        <hr>
        <div id="cup" style="width: 200px; height: 100px; background-color: #c91623"></div>
        <button id="ruler">点击触发</button>
    </body>
</html>
